*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #000000 url(../imagens/fundo.gif) repeat-x ;
}

#container{
    width: 850px;
    margin: 0 auto;
}
#navegacao{
    padding: 5px;
    table-layout: fixed; 
}
#topo{
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

img.logo{
    width: 100px;
    height: 50px ;
    text-align: center;
}

/*Barra de navegação*/

a:link, a:visited{
    color: #b10303;
    padding: 2px;
}

a:hover{
    color: #e50000;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b30000;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #690000;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.foto #navegacao a#foto{
    color: #fff;
    background:#be0707;
    cursor: text;
}

/* Configurar Layout de 3 colunas*/

#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}  

#duas-colunas #primario{
    width: 555px;
}

#secundario{
    width: 270px;
    float:left;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}
/*Caixa*/

.caixa{
    margin: 10px 0px;
    padding: 5px;
    background: #f3f3f3;

}

h2{
    font-size: 1.1em;
    background: #bd0303;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/*Formularios*/
label{
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

input{
    padding: 5px;
    margin-bottom: 10px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input#cadastrar{
    width: 80px;
    color: #fff;
    background-color: #c70404;
    border: 2px solid #a30606;
    
}

/* Formatação Imagens*/

img.imagem-principal{
    width: 98%;
    border:3px solid #dfdfdf;
}

/* Formatando Cabeçalhos*/
h3{
    text-transform:uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;

}

.destaque h3{
    background: #b10303;
    color: #fff;

}

/*Formatando Lista de Notícias*/

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a img{
    width: 80px;
    float: left;
    margin: 5px;
}
#lista-noticias li a{ 
    text-decoration: none;
}

#lista-noticias li a h3{ 
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p{
    font-size: 0.7em;
    color: #000;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

/*Rodapé*/
footer{
    clear: both;
    background: #b10404;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}